/* ... Style Sheet for Victor Teppa Professional Resume ... */

/* BROWSERs Pre Fixes 

header, footer{
	background: #666666;
	background: -moz-linear-gradient(top, #666666 0%, #00b7ea 100%);
	background: -webkit-linear-gradient(#666666 0%, #00b7ea 100%);
	background: -o-linear-gradient(#666666 0%, #00b7ea 100%);
	background: linear-gradient(#666666 0%, #00b7ea 100%); 

}
*/

/* ---------------------- Header - Body - Footer --------------------------- */
header{
	text-align: center;
	margin-bottom: 1%;
}

body{
	
	background: #283F51;
	margin: 0px;           /* Space between all Body and Browser */
}

footer{
	clear: both;          /* do not float footer, keep it away from sections */
	padding: 15%;
	text-align: center;
	opacity: 25%;
	background-image: url('../imgs/footer.png');
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100% 100%; /* 100% right and 100% bottom */
	border-bottom-color: #DC5F1A;
	border-bottom-style: solid;
	border-bottom-width: 4px;
	border-top-color: #DC5F1A;
	border-top-style: solid;
	border-top-width: 4px;

}

/* ---------------------------------------------------------------------------*/


/* -------------- LINKS --------------- */

nav a{
	display: inline-block;
	font-weight: bold;
	font-size: 95%;
	font-family: Helvetica,Arial,Times,optima;
	text-align: center;
	color: #ECEEEF;
	width: 100% auto;
	padding: 0.4%;
	margin: 0.2%;                                                        
	text-decoration: none; /* get rid off underline design */
	letter-spacing: 3px;
	border-radius: 6px;
	border-color: #ffffff;
	border-style: solid;
	border-width: 0.3px;
}

nav a:hover{
	background: #DC5F1A;
	color: #ffffff;
	border-color: #ffffff;
	/* Browser Support */
	-webkit-transition-property: background;
	-moz-transition-property: background;
	-o-transition-property: background;

	-webkit-transition-duration: .7s;
	-moz-transition-duration: .7s;
	-o-transition-duration: .7s;
	
	-webkit-transition-delay: .1s;
	-moz-transition-delay: .1s;
	-o-transition-delay: .1s;

}

nav a:focus{
	background: #DC5F1A;
	color: #ffffff;
	border-color: #ffffff;
}




/* ---------------------------------------------------------------------------*/

.main_section{
	background: #ffffff;
	width: 100%;
	padding-top: 0.8%;
	padding-bottom: 2%;
	margin-top: 1%;
	border-top-color: #DC5F1A;
	border-top-style: solid;
	border-top-width: 2px;
	opacity: 90%;
}

.description_class{
	
	color: #84919B;
	height: 5px;
	width: auto;
	text-align: center;
	font-weight: bold;
	font-size: 100%;
	font-family: Helvetica,Arial,Times,optima;

}



.p_body_section{
	line-height: 200%;
	padding - top: 2%;
	padding-left: 3%;
	padding-right: 3%;
	color: #84919B;
	font-weight: normal;
	font-size: 120%;
	font-family: Helvetica,Arial,Times,optima;
}

.a_active{
	background: #DC5F1A;
	color: #ffffff;
	border-color: #ffffff;
}

.div_header_class{
	border-top-color: #DC5F1A;
	border-top-style: solid;
	border-top-width: 2px;
	padding-top: 2%;
	padding-bottom: 0.1%;
	background: rgba(0,39,76,0.8);
}


.div_nav_class{
	padding-top: 0.1%;
	padding-bottom: 0.1%;
	margin-top: 0.5%;
	margin-bottom: -0.4%;
}


.h1_header_class{
	font-weight: bold;
	color: #84919B;
	font-size: 300%;
	font-family: Helvetica,Arial,Times,optima;
	margin: 0.5%;
	letter-spacing: 8px;
	display: inline-block;
	width: auto 100%;
}

.h1_header_class:first-letter{
	color: #4E6D6F;
}


.h2_class{
    color: #3075b2;
	font-weight: bold;
	font-size: 150%;
	font-family: Helvetica,Arial,Times,optima,;
	letter-spacing: 1px;
	padding-left: 3%;
	padding-top: 1%;
}

.h2_header_class{
	color: #4E6D6F;
	padding-top: 0%;
	margin-top: -0.2%;
	margin-bottom: 2%;
	letter-spacing: 8px;
	font-family: Helvetica,Arial,Times,optima;
	font-size: 120%;

}

.p_footer{
	text-align: center;
	margin-top: 2%;
	margin-bottom: 2%;
	color: #ffffff;
	font-family: Helvetica,Arial,Times,optima;
}


.ul_class{
	line-height: 250%;
	list-style-type: square;
	list-style-image: url('../imgs/list_icon.png');
	margin: 1%;
	padding-left: 4%;
	color: #84919B;
}

.li_class{
	padding-left: 0.5%;
	color: #84919B;
	font-weight: normal;
	font-size: 120%;
	font-family: Helvetica,Arial,Times,optima;
}


















